
:root {
    --grayMedium: #D9D9D9;
    --grayLight: #EEEEEE;
    --grayDark: #525252;
    --black: #262626;
    --white: #fafafa;
    --intenseWhite: white;
    --blue: #38BDF8;
    --lightBlue: #38bff858;
    --red: #dc2626;
}
@font-face {
    font-family: outfit-bold;
    src: url(./fonts/Outfit-Bold.ttf);
}
@font-face {
    font-family: outfit-light;
    src: url(./fonts/Outfit-Light.ttf);
}
@font-face {
    font-family: outfit-regular;
    src: url(./fonts/Outfit-Regular.ttf);
}
html {
    font-size: max(1vh, 2px);
    font-family: outfit-bold;
}
html * {
    box-sizing: border-box;
}   
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    background-color: var(--white);
}


/* HEADER */
#header {
    height: 8%;
    width: 100%;
    background-color: var(--grayMedium);
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 4px;
    padding-left: 10px;
    position: fixed;
    top: 0px;
    z-index: 1;
}
#header .logo {
    width: 6rem;
    height: 6rem;
}
#header .app-name {
    font-size: 4rem;
}


/* FOOTER */
#footer {
    height: 16%;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
#footer .footer-element {
    height: 50%;
    width: 100%;
    background-color: var(--grayMedium);
    position: absolute;
    bottom: 0px;
}


/* MENU */
#menu {
    height: 16%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu .menu-element {
    height: 50%;
    width: min(90%, 450px);
    background-color: var(--black);
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6rem;
}
.menu-element > *:hover {
    cursor: pointer;
}
.create-project, .add-task, .info {
    width: 5rem;
    height: 5rem;
}


/* CONTENT */
#content {
    width: 100%;
    position: relative;
    top: 8%;
    display: flex;
    justify-content: center;

}
#main-content {
    background-color: var(--white);
    height: 100%;
    width: min(100%, 800px);
    padding-top: 15px;
    padding-bottom: 16vh;
    display: flex;
    flex-direction: column;
}
#main-content .projects-title, .tasks-title {
    background-color: var(--white);
    height: min-content;
    display: flex;
    justify-content: start;
    align-items: center;
}
.projects-icon, .tasks-icon {
    width: 3rem;
    height: 3rem;
}
.projects-text, .tasks-text {
    font-size: 3.5rem;
}
.projects-section, .tasks-section{
    width: calc(100% - 6rem);
    margin-left: 3rem;
    margin-right: 3rem;
    /*background-color: green; */
    align-self: center;
}
.projects-section {
    margin-bottom: 30px;
}


/* Projecs Section */
.current {
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 3px;
    /* NO MORE STICKY
    position: sticky;
    top: 8vh; */
    z-index: 0;
    width: 100%;
    align-self: center;
    padding: 8px;
    padding-left: 3rem;
    padding-right: 3rem;
    height: min(9rem, 70px);
}
.settings-icon {
    width: 3rem;
    margin-left: auto;
}
.settings-icon:hover {
    cursor: pointer;
}
.current-text, .my-projects {
    font-family: outfit-light;
    font-size: 2.2rem;
}
.project {
    font-size: 1.6rem;
    background-color: white;
    border-radius: 7px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: outfit-regular;
    color: var(--blue);
    border: 1.5px solid var(--blue);
}
.project:hover {
    cursor: pointer;
}
.project.current-project {
    color: white;
    background-color: var(--blue);
}
.no-project-selected {
    color: var(--grayDark);
    font-family: outfit-light;
    font-size: 1.8rem;
    padding-bottom: 4px;
    padding-top: 4px;
}
.no-existing-projects {
    font-family: outfit-light;
    font-size: 1.8rem;
    color: var(--grayDark);
    padding-top: 4px;
    padding-bottom: 4px;
}
.no-existing-tasks {
    font-family: outfit-light;
    font-size: 1.8rem;
    color: var(--grayDark);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3rem;
}
.current-project-container {
    display: flex;
    flex-direction: space-between;
    flex-grow: 1;
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid var(--grayMedium);
}
.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    row-gap: 8px;
    column-gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Tasks Section */
.tasks-section {
    width: 100%;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.day-section {
    width: 100%;
}
.day {
    font-size: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: outfit-light;
    border-bottom: 1px solid var(--grayMedium);
    color: var(--grayDark);
}
.tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 8px;
    padding-top: 8px;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    
}
/* Task Card */
.task {
    width: 95%;
    height: max(45px, 3vw);
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
}
.task-details {
    display: flex;
    align-items: center;
    height: 100%;
}

.task-name {
    width: 78%;
    font-family: outfit-regular;
    font-size: 1.8rem;
    margin-left: 5px;
}
.checked-task {
    background-color: var(--lightBlue);
}
.edit-task-icon {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    cursor: pointer;
}
/* MODALS */

.create-project-modal, .edit-project-modal, .add-task-modal, .edit-task-modal, .select-project-modal {
    width: 100%;
    height: 100%;
    background-color: #3a3a3a50;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    display: flex;
}
.visible {
    visibility: visible;
}
.form-text {
    font-size: 2.8rem;
    font-family: outfit-regular;
    text-align: center;
    margin-top: 10px;
}
.select-project-text {
    margin-top: 4rem;
    font-size: 2.5rem;
}
.select-project button {
    align-self: center;
    margin-top: 30px;
}
.buttons {
    align-self: center;
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;

}
button {
    width: 14rem;;
    height: 4rem;
    background-color: var(--grayDark);
    border-radius: 7px;
    color: white;
    font-family: outfit-regular;
    font-size: 2rem;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}
#delete-project-btn, #delete-task-btn {
    width: calc(28rem + 5px);
    align-self: center;
    margin-top: 10px;
}
.red-btn {
    background-color: var(--red);
}
.blue-btn {
    background-color: var(--blue);
}
/* Create Project */
.create-project-form, .edit-project-form, .add-task-form, .edit-task-form, .select-project {
    width: min(90%, 400px);
    height: min(45%, 450px);
    background-color: var(--white);
    border-radius: 10px;
    position: relative;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 40px;

    transform: scale(0);
    transition: 0.15s ease-in;
    visibility: hidden;
}
.add-task-form, .edit-task-form {
    height: min(70%, 700px);
}
.select-project {
    height: min(28%, 280px);
    display: flex;
    flex-direction: column;

}
.active {
    transform: scale(1);
    visibility: visible;
    
}

.create-project-form label, .edit-project-form label, .add-task-form label, .edit-task-form label {
    font-size: 2.5rem;
    font-family: outfit-light;
    margin-top: 25px;
    padding-left: 5%;
}
.deadline-label {
    margin-top: 35px !important;
}
.close-icon {
    width: 4rem;
    height: 4rem;
    align-self: end;
}
.close-icon:hover {
    cursor: pointer;
}
#project-name-input, #project-edit-input {
    width: 90%;
    margin-top: 10px;
    appearance: none;
    height: 4.5rem;
    font-size: 2rem;
    border-radius: 7px;
    border: 1px solid var(--grayMedium);
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
}
textarea {
    height: 9rem;
    padding: 10px;
    font-family: outfit-regular;
    width: 90%;
    margin-top: 10px;
    appearance: none;
    font-size: 2rem;
    border-radius: 7px;
    border: 1px solid var(--grayMedium);
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    resize: none;
}
#task-deadline {
    width: 90%;
    margin-top: 10px;
    font-size: 2rem;
    border-radius: 7px;
    border: 1px solid var(--grayMedium);
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;  
    font-family: outfit-regular;
    height: 5rem;
}
.no-deadline-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    align-self: center;
    width: 90%;
}
.no-deadline-container label {
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 10px;

}
.buttons-add-task {
    margin-top: auto;
}
#project-name-input:focus, #project-edit-input:focus, textarea:focus, #task-deadline:focus {
    outline: none;
    border-color: var(--blue);
}
.error {
    height: 2.2rem;
    padding-left: 7%;
    font-size: 2rem;
    font-family: outfit-regular;
    padding-top: 2px;
    color: var(--red);
}

input[type="checkbox"] {
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--intenseWhite);
    border: 1px solid var(--grayMedium);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
input[type="checkbox"]::before {
    content: url('./check-bold.svg');
    width: 15px;
    visibility: hidden;
}
input[type="checkbox"]:checked::before {
    visibility: visible;
}
input[type="checkbox"]:checked {
    background-color: var(--blue);
    border-color: var(--blue);
}