
:root {
    --grayMedium: #D9D9D9;
    --grayLight: #EEEEEE;
    --grayDark: #525252;
    --black: #262626;
    --white: #fafafa;
    --blue: #38BDF8;
    --red: #dc2626;
}
@font-face {
    font-family: outfit-bold;
    src: url(./fonts/Outfit-Bold.ttf);
}
@font-face {
    font-family: outfit-light;
    src: url(./fonts/Outfit-Light.ttf);
}
@font-face {
    font-family: outfit-regular;
    src: url(./fonts/Outfit-Regular.ttf);
}
html {
    font-size: max(1vh, 2px);
    font-family: outfit-bold;
}
html * {
    box-sizing: border-box;
}   
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    background-color: var(--white);
}


/* HEADER */
#header {
    height: 8%;
    width: 100%;
    background-color: var(--grayMedium);
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 4px;
    padding-left: 10px;
    position: fixed;
    top: 0px;
    z-index: 1;
}
#header .logo {
    width: 6rem;
    height: 6rem;
}
#header .app-name {
    font-size: 4rem;
}


/* FOOTER */
#footer {
    height: 16%;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
#footer .footer-element {
    height: 50%;
    width: 100%;
    background-color: var(--grayMedium);
    position: absolute;
    bottom: 0px;
}


/* MENU */
#menu {
    height: 16%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu .menu-element {
    height: 50%;
    width: min(90%, 450px);
    background-color: var(--black);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6rem;
}
.menu-element > *:hover {
    cursor: pointer;
}
.create-project, .add-task, .info {
    width: 5rem;
    height: 5rem;
}


/* CONTENT */
#content {
    width: 100%;
    position: relative;
    top: 8%;
    display: flex;
    justify-content: center;

}
#main-content {
    background-color: var(--white);
    height: 100%;
    width: min(100%, 800px);
    padding-top: 15px;
    padding-bottom: 16vh;
    display: flex;
    flex-direction: column;
}
#main-content .projects-title, .tasks-title {
    background-color: var(--white);
    height: min-content;
    display: flex;
    justify-content: start;
    align-items: center;
}
.projects-icon, .tasks-icon {
    width: 3rem;
    height: 3rem;
}
.projects-text, .tasks-text {
    font-size: 3.5rem;
}
.projects-section, .tasks-section{
    width: calc(100% - 6rem);
    margin-left: 3rem;
    margin-right: 3rem;
    /*background-color: green; */
    align-self: center;
}
.projects-section {
    margin-bottom: 30px;
}


/* Projecs Section */
.current {
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 3px;
    /* NO MORE STICKY
    position: sticky;
    top: 8vh; */
    z-index: 0;
    width: 100%;
    align-self: center;
    padding: 8px;
    padding-left: 3rem;
    padding-right: 3rem;
    height: min(9rem, 70px);
}
.settings-icon {
    width: 3rem;
    margin-left: auto;
}
.settings-icon:hover {
    cursor: pointer;
}
.current-text, .my-projects {
    font-family: outfit-light;
    font-size: 2.2rem;
}
.project {
    font-size: 1.6rem;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: outfit-regular;
    color: var(--blue);
    border: 1.5px solid var(--blue);
}
.project:hover {
    cursor: pointer;
}
.project.current-project {
    color: white;
    background-color: var(--blue);
}
.current-project-container {
    display: flex;
    flex-direction: space-between;
    flex-grow: 1;
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid gray;
}
.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    row-gap: 8px;
    column-gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Tasks Section */
.tasks-section {
    width: 100%;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.day-section {
    width: 100%;
}
.day {
    font-size: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: outfit-regular;
    border-bottom: 2px dotted var(--black);
}
.tasks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    padding-top: 16px;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    
}
/* Task Card */
.task {
    width: 120px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* MODULARS */

.create-project-modular, .edit-project-modular {
    width: 100%;
    height: 100%;
    background-color: #3a3a3a50;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.visible {
    visibility: visible;
}
.form-text {
    font-size: 2.8rem;
    font-family: outfit-regular;
    text-align: center;
    margin-top: 10px;
}
.buttons {
    align-self: center;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;

}
button {
    width: 14rem;;
    height: 4rem;
    background-color: var(--grayDark);
    border-radius: 10px;
    color: white;
    font-family: outfit-regular;
    font-size: 2rem;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}
#delete-project-btn {
    width: calc(28rem + 5px);
    align-self: center;
    margin-top: 10px;
}
.red-btn {
    background-color: var(--red);
}
.blue-btn {
    background-color: var(--blue);
}
/* Create Project */
.create-project-form, .edit-project-form {
    width: min(80%, 400px);
    height: min(40%, 400px);
    background-color: var(--white);
    border-radius: 20px;
    position: relative;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.create-project-form label, .edit-project-form label {
    font-size: 2.5rem;
    font-family: outfit-light;
    margin-top: 25px;
    padding-left: 5%;
}
.close-icon {
    width: 4rem;
    height: 4rem;
    align-self: end;
}
.close-icon:hover {
    cursor: pointer;
}
#project-name-input, #project-edit-input {
    width: 90%;
    margin-top: 10px;
    appearance: none;
    height: 4.5rem;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px solid var(--grayMedium);
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
}
#project-name-input:focus, #project-edit-input:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--blue);
    border-color: var(--blue);
}
.error {
    height: 2.2rem;
    padding-left: 7%;
    font-size: 2rem;
    font-family: outfit-regular;
    padding-top: 2px;
    color: var(--red);
}